gTTS
IMDbPY
keyboard
Kivy
Kivy_examples
PyAutoGUI
pydub
python-decouple
python-dotenv
pyttsx3
pywhatkit
Requests
sounddevice
SpeechRecognition
wikipedia
wolframalpha
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
distlib
filelock
frozenlist
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain-core
langchain-google-genai
langsmith
markdown-it-py
MarkupSafe
mdurl
multidict
narwhals
numpy
orjson
packaging
pandas
pillow
pip
platformdirs
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
requests-toolbelt
rich
rpds-py
rsa
setuptools
six
smmap
sniffio
sqlparse
streamlit
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
watchdog
win-inet-pton
yarl